* {
  /* border: 1px solid red; */
}

.header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  background: papayawhip;
}

.logo {
  display: flex;
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
  margin: 4px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 4px;
  gap: 4px;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}